.main-header {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    background-color: #D60D8C;
    width: 80%;
    color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
}

.main-header a {    
    color: white;
    text-decoration: none;
}

.active-link {
    border-bottom: 2px solid white;
}