.login-page {
  height: 100vh;
  width: 100%;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-left-part {
  background-color: #D60D8C;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
}

.login-container h1 {
  font-size: 3em;
  margin-bottom: 0em;
}

.login-buttons-container {
  margin-top: 1em;
  margin-bottom: 0em;
}


.login-button {
  width: 35% !important;
  height: 6vh !important;
  margin: 1em !important;
  background-color: #ffffff !important;
  color: #D60D8C !important;
}

.login-input {
  margin: 0.3em !important;
  width: 35% !important;
  background-color: #ffffff !important;
  border-radius: 3px;
}