.landing-page {
  height: 100vh;
  width: 100%;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-left-part {
  background-color: #D60D8C;
}

.landing-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
}

.landing-container h1 {
  font-size: 3em;
  margin-bottom: 0em;
}

.landing-buttons-container {
  margin-top: 2em;
  margin-bottom: 0em;
}

.landing-button {
  width: 35% !important;
  height: 6vh !important;
  margin: 1em !important;
  background-color: #ffffff !important;
  color: #D60D8C !important;
}

.landing-button:hover {
  background-color: #d486b8 !important;
  color: #ffffff !important;
}