.ligas-main-page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    width: 80%;
    height: 80%;
    margin-top: 1.5em;
    perspective: 1000px;
    position: relative;
}

.info-container,
.image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #D60D8C;
    border-radius: 10px 0 0 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    border-radius: 0 10px 10px 0;
}

.info-content {
    text-align: center;
    color: #fff;
}

.sport-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s;
}

.arrows-container {
    display: flex;
    flex-direction: row;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #D60D8C;
    margin: 1em;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #D60D8C;
    margin: 1em;
}

.rotate-out-right {
    transform: rotateY(5deg);
    transition: transform 0.5s;
}

.rotate-in-right {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.rotate-out-left {
    transform: rotateY(-5deg);
    transition: transform 0.5s;
}

.rotate-in-left {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}