.equipos-main-page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 2em;
    background-color: #fff;
}

.equipos-container {
    width: 80%;
    margin: 2em auto;
}

.equipos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    overflow-y: auto;
}

.equipo-card {
    height: 10em;
    padding: 1em;
    background-color: #D60D8C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.equipo-card:hover {
    transform: scale(1.01);
}

.equipo-name {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    color: #fff;
}

.equipo-details p {
    margin: 0.3em 0;
    color: #fff;
}

.equipo-details strong {
    font-weight: bold;
    color: #fff;
}

.team-details-container {
    width: 80%;
    height: 76vh;
    overflow-y: auto;
    margin: 1.5em auto;
    text-align: center;
    padding-bottom: 1em;
    background: #D60D8C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fdb7ec;
}

::-webkit-scrollbar-thumb {
    background: #da4da6;
}

.team-details-header {
    position: relative;
    text-align: center;
}

.team-details-header .back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.team-details-header .selected-team-name {
    display: inline-block;
}

.back-button {
    display: flex;
    margin-left: 1.5em;
    padding: 0.7em 1.5em;
    background-color: #fff;
    color: #D60D8C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #A52A86;
    color: #fff;
}

.selected-team-name {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.team-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 3em;
}

.team-option {
    width: 10em;
    display: inline-block;
    padding: 0.6em;
    color: #D60D8C;
    background-color: #fff;
    border: 2px solid #D60D8C;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.team-option:hover {
    background-color: #A52A86;
    color: #fff;
}

.team-option:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(214, 13, 140, 0.5);
}

.matches-container {
    margin-top: 1em;
}

.bold {
    font-weight: bold;
}

.matches-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.match-item {
    width: 90%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1em 0.2em 1em;
}

.ADMIN.match-item:hover {
    background-color: #e4e4e4;
}

.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team {
    flex: 1;
    text-align: center;
}

.match-score {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #D60D8C;
}

.team-home {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team-away {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team-name {
    font-size: 1.2em;
    color: #D60D8C;
    margin: 0 0.5em 0 0.5em;
}

.match-details {
    text-align: center;
    margin: 0 3em 0 3em;
}

.match-details p {
    margin: 0.3em 0;
    font-size: 0.9em;
    color: #666;
}

.no-matches {
    color: #D60D8C;
    font-style: italic;
    text-align: center;
}

.members-container {
    width: 80%;
    margin: 2em auto;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.members-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.member-card {
    display: flex;
    flex-direction: column;
    background-color: #D60D8C;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    width: 10em;
}

.member-card h3 {
    font-size: 1.25em;
    color: #ffffff;
    margin: 0;
}

.member-card p {
    font-size: 1em;
    color: #ffffff;
    margin: 0;
}

.no-members {
    font-size: 1.25em;
    color: #D60D8C;
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px) {
    .members-container {
        width: 90%;
    }

    .member-card {
        padding: 1em;
    }

    .member-card h3 {
        font-size: 1em;
    }

    .member-card p {
        font-size: 0.9em;
    }
}


.edit-match-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

.edit-match-modal h2 {
    margin-top: 0;
    color: #D60D8C;
}

.edit-match-modal form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.edit-match-modal label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.edit-match-modal input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    background-color: #D60D8C;
}

.edit-match-modal select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    background-color: #D60D8C;
}

.edit-match-modal button {
    padding: 0.7em 1.5em;
    background-color: #D60D8C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-match-modal button:hover {
    background-color: #A52A86;
}

.edit-match-modal button[type="button"] {
    background-color: #a8a8a8;
}

.edit-match-modal button[type="button"]:hover {
    background-color: #999;
}

.statistics-container {
    width: 65vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2.5em;
    padding: 0 2em 0 2em;
    border-radius: 10px;
    margin: inherit
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    padding: 0.5em 1em 0.5em 1em;
    height: 8em;
}

.statistic h4 {
    font-size: 1.10em;
    color: #D60D8C;
    margin: 0;
}

.statistic p {
    font-size: 1.75em;
    color: #D60D8C;
    margin: 0;
}

@media (max-width: 768px) {
    .statistics-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .statistic {
        padding: 1em;
    }

    .statistic h4 {
        font-size: 1em;
    }

    .statistic p {
        font-size: 1.25em;
    }
}

.classification-container {
    padding: 2em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.classification-table {
    width: 100%;
    border-collapse: collapse;
}

.classification-table th,
.classification-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.classification-table th {
    background-color: #D60D8C;
    color: white;
}

.classification-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.classification-table tr:hover {
    background-color: #ddd;
}
