.equipos-main-page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 2em;
    background-color: #fff;
}

.equipos-container {
    width: 80%;
    margin: 2em auto;
}

.equipos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.equipo-card {
    padding: 1em;
    background-color: #D60D8C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.equipo-card:hover {
    transform: scale(1.01);
}

.equipo-name {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    color: #fff;
}

.equipo-details p {
    margin: 0.3em 0;
    color: #fff;
}

.equipo-details strong {
    font-weight: bold;
    color: #fff;
}

.team-details-container {
    width: 80%;
    height: 70vh;
    overflow-y: auto;
    margin: 2em auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background: #D60D8C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fdb7ec;
}

::-webkit-scrollbar-thumb {
    background: #da4da6;
}


.back-button {
    display: flex;
    margin-left: 1.5em;
    padding: 0.7em 1.5em;
    background-color: #fff;
    color: #D60D8C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #A52A86;
    color: #fff;
}

.selected-team-name {
    margin-top: 0.1em;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.team-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.team-option {
    display: inline-block;
    margin: 0.5em;
    padding: 1em 2em;
    color: #D60D8C;
    background-color: #fff;
    border: 2px solid #D60D8C;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.team-option:hover {
    background-color: #A52A86;
    color: #fff;
}

.team-option:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(214, 13, 140, 0.5);
}

.matches-container {
    margin-top: 2em;
}

.matches-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #fff;
}

.bold {
    font-weight: bold;
}

.matches-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.match-item {
    width: 90%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team {
    flex: 1;
    text-align: center;
}

.match-score {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #D60D8C;
}

.team-home {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-away {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-name {
    font-size: 1.2em;
    color: #D60D8C;
}

.match-details {
    flex: 2;
    text-align: center;
}

.match-details p {
    margin: 0.3em 0;
    font-size: 0.9em;
    color: #666;
}

.no-matches {
    color: #D60D8C;
    font-style: italic;
    text-align: center;
}

.members-container {
    margin-top: 2em;
}

.members-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #D60D8C;
}

.members-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.member-card {
    width: 90%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.member-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #D60D8C;
}

.member-card p {
    margin: 0.5em 0 0;
    font-size: 1em;
    color: #333;
}

.no-members {
    color: #D60D8C;
    font-style: italic;
    text-align: center;
}