.create-group-form-container {
    margin-top: 1em;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: #D60D8C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-group-form-container h2 {
    margin-top: 0;
}

.create-group-form-container div {
    margin-bottom: 10px;
}

.create-group-form-container label {
    display: block;
    margin-bottom: 5px;
}

.create-group-form-container input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #d60d8c58;
    border-radius: 5px;
}

.create-group-form-container button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #D60D8C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-group-form-container button[type="button"] {
    background-color: gray;
}